<%- include('partials/header') %> 
    <div class="container">
      <h1>Searching for <%= name %></h1>
      <h2><%= description %></h2>
      <h3>Total Subscriptions : <%= subscribers %></h3>
      <h2>Posts :</h2>
      <% for( let a of posts ) { %>
      <p><%= a.title %></p>
      <h6><%= a.author %></h6>
      <% if (a.img) { %>
      <img src="<%-a.img  %>" alt="Image" />
      <% } %> <% } %>
    </div>
  </body>
</html>
