<%- include('partials/header') %> 
<%- include('partials/nav') %> 
    <div class="container">
      <h1>this is your lucky Number : <%= num %></h1>
      <h3><%= 'Number is : ' + (bool ? 'EVEN' : 'ODD') %></h3>
      <% if(num % 2 === 0 ) {%>
      <h1>This Number is Even</h1>
      <% } else { %>
      <h1>This Number is Odd</h1>
      <% } %>
      <h3><%= 'Number is : ' + (num % 2 === 0 ? 'EVEN' : 'ODD') %></h3>
    </div>
  </body>
</html>
