<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Product</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: chartreuse">
    <div class="container">
      <h2 class="display-4 d-grid col-5 mx-auto" style="text-align: center">
        Update Product
      </h2>
      <form action="/products/<%= pdt.id %>?_method=PATCH" method="POST">
        <div class="row">
          <div class="form-group col-4">
            <label for="name">Product Name</label>
            <input
              type="text"
              id="name"
              value="<%= pdt.name %> "
              class="form-control"
              placeholder="name"
              name="name"
            />
          </div>
          <div class="form-group col-4">
            <label for="price">Price</label>
            <input
              type="number"
              id="price"
              value="<%= Number.parseInt(pdt.price) %>"
              placeholder="price"
              class="form-control"
              name="price"
            />
          </div>
          <div class="form-group col-4">
            <label for="name">Product Name</label>
            <select
              class="form-control btn-sm btn-outline-secondary mt-1 mb-1"
              name="category"
              id="category"
            >
              <% for(var category of categories) { %>
              <option value="<%= category %>" <%= product.category == category ? 'selected' : ''%> ><%= category %></option>
              <% } %>
            </select>
          </div>
          <div class="row">
            <div class="d-grid col-4 mx-auto mt-3">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
          <div class="row">
            <div class="d-grid col-4 mx-auto mt-3">
              <a href="/products/<%= pdt.id %>" class="btn btn-primary"
                >Cancel</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
